{
  "signing": {
    "default": {
      "expiry": "{{k8s_cert_expiry}}"
    },
    "profiles": {
      "kubernetes": {
        "usages": ["signing", "key encipherment", "server auth", "client auth"],
        "expiry": "{{k8s_cert_expiry}}"
      },
      "client": {
        "usages": ["signing","key encipherment","client auth"],
        "expiry": "{{k8s_cert_expiry}}"
      }
    }
  }
}